 <div>
 	<ul>
 		<% sum = 0 %>
		<% @order_details.each do |item| %>
			<li id = "delete-item-<%= item.id %>" >
			 	<%= item.product.name %>
			 	<%= item.product.price_product %>
			 	<input type="number" name="quantity[order_detail]" value = "<%= item.quantity %>" id = "item-quantity-<%= item.id %>" data-id = "<%= item.id%>" class = "item-quantity">
		
			 	total: <span class = "total" id = "total<%= item.id %>"><%= item.quantity*item.product.price%><span>
			 		<% sum = sum + item.quantity*item.product.price %>
				<%= link_to 'remove item', order_detail_path(item), method: :delete, remote: true%>
			</li> 
		<% end %>
		tong tien la: <span class = total-cart>
				<%= sum %>
		</span>
 	</ul>
 </div>

<%= link_to 'mua hang', edit_order_path(current_order), remote: true %>
<div id = "buyyer">
	
</div>
 <script type="text/javascript">
 	$(document).on('turbolinks:load', function(){
 		$('.item-quantity').click(function(){

 			var id = $(this).data('id')
 			$.ajax({
 				url: 'order_details/'+ id,
 				type: 'put',
 				dataType: 'json',
 				data: {
 					authenticity_token: $('meta[name=csrf-token]').attr('content'),
 					quantity: $('#item-quantity-'+id).val()
 				},
 				success: function(data){
 					$('#total'+id).html(data.data_total)
 				}
 			})
 		})
 	})

	$(document).on('turbolinks:load', function(){
		$('.item-quantity').mouseleave(function(){
		 	 count = $('.total').length
		 	var sum = 0
		 	for (i = 0;i < count; i++) {
		 		var t = $('.total')[i]
		 		to = parseInt(t.innerHTML)
		 		sum = sum + to

		 	}

		 		$('.total-cart').html(sum)
		})
	})
	$(document).on('turbolinks:load', function(){
		$('.item-quantity').keypress(function(event){
			debugger
			var keycode = (event.keyCode ? event.keyCode : event.which);
			if (keycode == 13){
		 	 count = $('.total').length
		 	var sum = 0
		 	for (i = 0;i < count; i++) {
		 		var t = $('.total')[i]
		 		to = parseInt(t.innerHTML)
		 		sum = sum + to
		 	}

		 		$('.total-cart').html(sum)
			}
		})
	})

 </script>