 <div>
 	<ul>
 		<% sum = 0 %>
		<% @order_details.each do |item| %>
			<li id = "delete-item-<%= item.id %>" >
			 	<%= item.product.name %>
			 	<%= item.product.price_product %>
			 	<input type="number" name="quantity[order_detail]" value = "<%= item.quantity %>" id = "item-quantity-<%= item.id %>" data-id = "<%= item.id%>" class = "item-quantity">
		
			 	total: <span class = "total" id = "total<%= item.id %>"><%= item.quantity*item.product.price%><span>
			 		<% sum = sum + item.quantity*item.product.price %>
				<%= link_to 'remove item', order_detail_path(item), method: :delete, remote: true%>
			</li> 
		<% end %>
		tong tien la: <span class = total-cart>
				<%= sum %>
		</span>
 	</ul>
 </div>

<%= link_to 'mua hang', edit_order_path(current_order), remote: true %>
<div id = "buyyer">
	
</div>
